.details-main-container {
    display: flex;
    margin-bottom: -5rem;
}

.details-img-container {
    width: 45%;
    height: 80vh;
}

.details-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sold-by-img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: .2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.details-info-container{
    padding-top: 3rem;
    word-wrap: break-word;
    overflow-y: auto;
}

.details-info-container p {
    padding: .5rem 0;
}

.details-data-container {
    width: 55%;
    padding: 3rem;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
}

.sold-by-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--gray-secondary);
}

.sold-by-paragraph {
    padding-bottom: 2rem;
}

.details-cart-button{
    position: absolute;
    top: 71vh;
    left: 2rem;
    width: 20rem;
}

.edit-listing-profile,
.remove-listing-profile {
    width: 20rem;
    height: 4rem;
    border-radius: .2rem;
    display: inline-block;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .2s;
}

.edit-remove-profile-container {
    position: absolute;
    top: 71vh;
    display: flex;
    align-items: center;

}

.edit-listing-profile {
    border: var(--border-dark);

}
.edit-listing-profile:hover {
    background-color: var(--gray-hover-light);
    border: 1px solid var(--gray-hover-light);
}

.remove-listing-profile {
    margin-left: 2rem;
    color: var(--white);
    background-color: var(--orange-primary);
    padding: .1rem;

}

.remove-listing-profile:hover {
    background-color: var(--orange-secondary);
}

.details-back {
    position: absolute;
    left: 42%;
    top: 0;
    cursor: pointer;
    z-index: 20;
    width: 11rem;
}
