.session-profile-link-container {
    text-align: center;
    font-size: 2.2rem;
}

.session-profile-link-container a {
    display: inline-block;
    padding: .3rem 2rem;
    /* border: var(--border-dark); */
    border: 1px solid var(--blue-primary);
    border-radius: .2rem;
    width: 14rem;
    margin: 1rem;
    color: var(--blue-primary);
    font-weight: 500;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.session-profile-link-container .active {
    color: var(--font-color);
    border: 1px solid var(--blue-tertiary);
    background-color: var(--blue-primary);
}

.session-heading-button-container {
    padding-left: 1.5rem;
}

.session-heading-button-edit {
    width: 13rem;
    height: 3rem;
    border-radius: .2rem;
    border: var(--border-medium);
    background-color: var(--white);
    font-weight: 600;
}

.upload-photo-logo {
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    /* margin: 0 auto; */
    /* margin:-60px 0 0 -60px; */
    /* margin: auto; */
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}


.upload-photo-button {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--yellow);
    width: 17rem;
    height: 4rem;
    margin: 1rem auto;
    transition: all .2s;
}

.upload-photo-button:hover {
    background-color: var(--yellow-hover);
}
