.back-button-container{
    transition: all 0.2s;
    cursor: pointer;
    color: var(--blue-tertiary);
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    position: absolute;
    top: 12rem;
    left: 5rem;

}

.back-button-container span {
    padding-left: .6rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: .2rem;
}

