.main-cart-container {
    display: flex;
    justify-content: center;
}

.cart-page-container {
    width: 70%;
}


.cart-article-container {
    border: var(--border-medium);
    border-radius: .2rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    height: 11rem;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
}

.cart-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.cart-heading h2 {
    font-size: 3rem;
}

.checkout-button-cart {
    background-color: var(--yellow);
    padding: 0 5rem;
    border-radius: .2rem;
    color: var(--gray-primary);
    font-size: 2rem;
    font-weight: 600;
    transition: all .2s;
}

.checkout-button-cart i {
    padding-right: 1rem;
}

.checkout-button-cart:hover {
 background-color: var(--yellow-hover);
}


.cart-img {
    object-fit: cover;
    width: 22rem;
    border-radius: .2rem;
}

.remove-item-button {
    color: var(--gray-primary);
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .2s;
}

.remove-item-button:hover {
    color: var(--gray-hover-dark);
}


.clear-cart-button,
.continue-shopping-button {
    width: 12.4rem;
    height: 4.4rem;
    color: var(--white);
    position: absolute;
    font-size: 1.4rem;
    border-radius: .2rem;
    font-weight: 600;
    padding: 0 5rem;
    transition: all .2s;
    margin-top: 2rem;
}


.clear-cart-button {
    background-color: var(--orange-primary);
    right: 15%;
}

.continue-shopping-button {
    background-color: var(--gray-primary);
    right: 15%;
    line-height: 4.4rem;
    margin-right: 25rem;
}

.clear-cart-button:hover {
    background-color: var(--orange-secondary);
}

.continue-shopping-button:hover {
    background-color: var(--gray-hover-dark);
}

.cart-empty-heading {
    border: var(--border-medium);
    border-radius: .2rem;
    margin-top: 2rem;
    font-size: 2.4rem;
    padding: 4rem 0;
    text-align: center;
    color: #1dafff;
}
