.news-card {

    width: 25rem;
    height: 17rem;
    /* border-radius: .5rem; */
    border: var(--border-medium);
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    /* padding-right: 1rem; */
    font-size: 1.5rem;
    font-weight: bold;
    text-overflow: ellipsis;
}

.news-card-link {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.news-card img {
    width: 25rem;
    height: 13rem;
}

.news-card span {
    width: 23rem;
    height: 6rem;
    /* word-wrap: break-word; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 100px; */
    display: block;
    overflow: hidden;
    padding: .5rem

}
.news-container {
    position: fixed;

    right: 2rem;
    top: 21.2rem;
    overflow-y: auto;
    height: 70vh;
    overflow-x: hidden;
}
