.search-input {
    /* width: 33rem;
    height: 3.2rem;
    padding: 0 1rem; */
    border: none;
    padding: 0 1rem;
    width: 87%;
    font-size: 1.6rem;

}

.search-button {
    /* height: 3.2rem;
    width: 3.5rem;
    border: none;
    background-color: var(--white); */
    border: none;
    background-color: white;
    border-left: var(--border-dark);

}

.search-form {
    display: flex;
    align-items: center;
    background-color: white;
    width: 43rem;
    height: 3.9rem;
    border-radius: .3rem;
    position: relative;

}

.search-form i{
    font-size: 1.9rem;
    padding-left: .7rem;

}

.searched-listings-main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.search-title {

    text-align: center;
    font-size: 4rem;
    color: var(--font-color);
    font-weight: 900;
    padding: 2rem;
}

.search-errors-container {
    position: absolute;
    z-index: 52;
    border: var(--border-light);
    height: fit-content;
    width: fit-content;
    background-color: rgb(243, 215, 215);
    box-shadow: -1px 1px 30px rgba(255, 0, 0, .1) inset, 1px 1px 30px rgba(255, 0, 0, .1) inset, 1px 1px 30px rgba(255, 0, 0, .1) inset, 1px -1px 30px rgba(255, 0, 0, .1) inset;
    top: 7rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: red;
    animation: showErrors .3s;
    padding: 3rem 4rem;
}

.clear-errors-container {
    position: absolute;
    z-index: 52;
    border: var(--border-light);
    height: fit-content;
    width: fit-content;
    background-color: rgb(243, 215, 215);
    box-shadow: -1px 1px 30px rgba(255, 0, 0, .1) inset, 1px 1px 30px rgba(255, 0, 0, .1) inset, 1px 1px 30px rgba(255, 0, 0, .1) inset, 1px -1px 30px rgba(255, 0, 0, .1) inset;
    top: 7rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: red;
    animation: hideErrors .3s;
    padding: 3rem 4rem;

    visibility: hidden;
    /* opacity: 0; */
    transition: visibility 0s .3s;

}

@keyframes hideErrors {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
