.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-medium {
    margin-bottom: 4rem;
}

.margin-bottom-large {
    margin-bottom: 6rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}
