:root {
    --gray-primary: #2b2a2a;
    --gray-secondary: gray;
    --gray-tertiary: #f7f7f7;
    --gray-hover-dark: #4e4c4c;
    --gray-hover-light: #eceaea;

    --orange-primary: #fb6620;
    --orange-secondary: #fd8b56;

    --yellow: #facd34;

    --blue-primary: #4292e1;

    --green: #55c57a;
    --white: white;
    --black: black;

    --border-light-thick: 2px solid #ededed;
    --border-dark: 1px solid #2b2a2a;
    --border-light: 1px solid #ededed;
    --border-medium: 1px solid #d3d3d3;

    --font: 'Zen Kaku Gothic Antique', sans-serif;
    --font-logo:'Monoton', cursive;
    --font-color: #272727;
}
