:root {
    --gray-primary: #2b2a2a;
    --gray-secondary: gray;
    --gray-tertiary: #f7f7f7;
    --orange-primary: #fb6620;
    --orange-secondary: #fd8248;
    --yellow: #facd34;
    --green: #55c57a;
    --white: white;
    --black: black;

    --border-light: 1px solid #ededed;
    --border-dark: 1px solid gray;

    --font: 'Zen Kaku Gothic Antique', sans-serif;
    --font-color: #272727;
}
