.auth-form-page {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    background-color: var(--gray-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58rem;
    animation: moveDown .5s;
}


.auth-form input {
    width: 42rem;
    height: 2.5rem;
    padding: 1.2rem 1.6rem;
    border: none;
    border-bottom: .3rem solid transparent;
    display: block;
    transition: all .3s;
    border-radius: .2rem;
    margin-bottom: 2rem;
}

.auth-form input:focus {
    border-bottom: .3rem solid transparent;
}


.auth-form input:focus:invalid {
    border-bottom: .3rem solid var(--orange-secondary);
}

.auth-form input:placeholder-shown:focus {
    border-bottom: .3rem solid var(--orange-secondary);
}


.auth-form button {
    width: 42.1rem;
    height: 2.6rem;
    padding: 1.2rem 1.6rem;
    color: var(--white);
    background-color: var(--orange-primary);
    border: none;
    transition: all .3s;
    border-radius: .2rem;
    font-weight: 600;
}

.auth-form button:hover {
    background-color: var(--gray-primary);
}

.auth-form button:disabled {
    background-color: var(--orange-secondary);
}

.auth-form label {
    font-size: 1.6rem;
    color: var(--black);
}

.form-header {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 5rem;

}

.auth-form a,
.auth-form p{
    font-size: 1.6rem;
}

.auth-form a {
    font-weight: 600;
    color: #00247a;
}

.login-button,
.signup-button {
    margin-top: 6rem;
}

.demo-button {
    margin-bottom: 5.5rem;
}

.input-invalid {
    border-bottom: .3rem solid var(--orange-secondary)!important;
}

.repeat-input-invalid {
    border-bottom: .3rem solid var(--orange-secondary)!important;
}

.signup-form-container {
    margin-top: 19rem;
}

.login-form-container {
    margin-top: 10rem;
}

.auth-errors-container {
    font-family: var(--font);
    font-size: 1.6rem;
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
