.splash-section-3 {
    width: 100%;
    height: 80rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-article-container {
    width: 80%;
    height: 80%;
    background-color: chocolate;
    display: grid;
    grid-template-columns: repeat(6, minmax(18rem, 1fr));
    gap: .5rem;
}

.section-3-title {
    text-align: center;
    font-size: 4rem;
    color: var(--font-color);
}

.section-3-article {
    height: 12rem;
    background-color: blue;
}
