.splash-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

.splash-article-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, minmax(18rem, 1fr));
    gap: 1.8rem;
}

.section-3-title {
    text-align: center;
    font-size: 4rem;
    color: var(--font-color);
}

.section-3-article {
    height: 40rem;
    border: var(--border-medium);
    box-shadow: rgba(149, 157, 165, 0.2) 0rem .4rem 1.4rem;
    perspective: 150rem;
    --moz-perspective: 150rem;
    position: relative;
}

.section-3-img-container {
    width: 100%;
    height: 60%;
}
.section-3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
