.section {
    width: 100%;
    min-height: 70rem;
    background-size:cover;
}

.section-link {
    display: flex;
    height: 70rem;
    align-items: center;
}

.section-title {
    display: block;
    font-size: 9rem;
    color: var(--white);
    font-weight: 800;
    text-align: center;
}

.section-icon {
    font-size: 8rem;
    padding-left: 2.5rem;
}

.splash-section-1 {
    background-image: linear-gradient(105deg,
    rgba(29, 80, 192, 0.3) 0%,
    rgba(29, 80, 192, 0.3) 50%,
    transparent 50%),url('../../images/splash2.jpg');
}


.section-1-title{
    width: 50%;
    text-shadow: .3rem .3rem 1.5rem rgba(73, 73, 73, 0.8);
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


.splash-section-2 {
    background-image: linear-gradient(90deg,
    transparent 60%,
    rgba(159, 29, 192, 0.3) 60%,
    rgba(159, 29, 192, 0.3) 100%),url('../../images/splash1.jpg');
}

.section-2-link {
    justify-content: flex-end;
}

.section-2-title {
    width: 40%;
    text-shadow: .3rem .3rem 1.5rem var(--black);
}

.section:hover .section-icon {
    animation: moveRight 2s infinite;
}

@keyframes moveRight {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateX(3rem);
    }
    100% {
        transform: translate(0);
    }
}
