.profile-orders-section-container {
    display: flex;
    justify-content: center;

}

.profile-orders-container {
    width: 60%;

}

.order-article-container {
    border: var(--border-medium);
    box-shadow: rgb(67 71 85 / 27%) 0px 0px 0.25em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
    border-radius: .2rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 2rem 0;
    /* min-height: 20rem; */
    display: flex;
    position: relative;
    /* flex-direction: column; */
}

.article-order-data-1 {

    padding: .5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}

.article-order-data-1:not(:last-child) {
    border-bottom: var(--border-light);
}

.order-article-container > div {
    display: inline-block;
}

.left-container {
    width: 40%;
}

.middle-container {
    width: 40%;
    font-size: 2rem;
}

.cancel-order-profile-button,
.update-order-profile-button {
    position: absolute;
    width: 15rem;
    height: 4rem;
    border-radius: .2rem;
    right: 1rem;
    color: var(--white);
    font-weight: 600;
    transition: all .2s;
}

.update-order-profile-button {
    background-color: var(--gray-primary);
    top: 6rem;
}

.update-order-profile-button:hover {
    background-color: var(--gray-hover-dark);
}

.cancel-order-profile-button {
    background-color: var(--orange-primary);
}

.cancel-order-profile-button:hover {
    background-color: var(--orange-secondary);
}

.order-link-detail {
    color: var(--blue-tertiary);
    text-decoration: underline;
}

.item-delivered-label {
    display: inline-block;
    padding: .4rem 2.5rem;
    background-color: var(--green);
    border-radius: .2rem;
    font-weight: 500;
    color: var(--white);
}

.update-instructions-container {
    width: 80%;
    height: 100%;
    padding: 2rem;
}

.modal-heading {
    font-size: 2rem;
    padding: 1rem 0;
}

.modal-textarea {
    border: var(--border-light);
    border-radius: .2rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    height: 10rem;

}

.update-instructions-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.update-instructions-button {
    margin-top: 1rem;
    background-color: var(--yellow);
    padding: .7rem 3rem;
    font-weight: 600;
}
